<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  </nav>
  <br>

  <body id="body">
		<img src="data:image/jpeg;base64, {{frame}}" />
	</body>
	<script>
		var body = document.getElementById("body");
		setInterval(() => {
			fetch("{{ url_for('video_feed', room = room_number) }}").then((response) => {
				response.text().then((image) => {
					body.innerHTML = image;
				});
			});
		}, 1000);
	</script>

  <!-- <div class="mx-auto" style="margin: 40px">
    <img src="{{ url_for('video_feed', room = room_number) }}">
  </div> -->
  <div class="mx-auto" style="width: 150px;">
    <a href="http://127.0.0.1:80/">
      <button type="button" class="btn btn-success">Return Room Selection</button>
    </a>
  </div>
</body>

</html>