<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style=" height: 900px;background-image: linear-gradient(
                to bottom,
                rgba(255, 91, 2, 0.551) 0%,
                rgba(255, 171, 25, 0.767) 100%
              ); ">

  <div class="mx-auto" style="width: 100%;margin-top: 40px;text-align: center;">
        <h2>Room-{{room_number}} Authentication Camera</h2>
  </div>

  </nav>
  <br>
  <div class="mx-auto" style="padding-left: 100px; margin: 20px; align-self: center;">
    <img  style="display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  " src="{{ url_for('video_feed', room = room_number) }}">
  </div>
  <div class="mx-auto" style="width: 150px;">
    <a href="http://127.0.0.1:80/">
      <button type="button" class="btn btn-success">Return Room Selection</button>
    </a>
  </div>
</body>

</html>